@model WE_MANAGE_ConsumeWebApi.Models.Jdf

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jdf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_Creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_Creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbr_Emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbr_Emp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localisation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
