@model WE_MANAGE_ConsumeWebApi.Models.Bus

@{
    ViewBag.Title = "Edit";
}

<style>
    .form-control {
        height: 35px;
        line-height: 37px;
        background: transparent;
        border: 1px solid #87d3e9;
        font-size: 14px;
        color: #e2e6ff;
        border-radius: 10px;
    }

    .p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-style: italic
    }

    .container {
        margin-top: 100px !important;
    }

    .btn-outline-info {
        color: #0094ff !important;
        border-color: #0094ff !important;
    }
</style>

<h2>Edit Bus</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.matricule)

    <div class="form-group">
      <p>Driver</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.driver, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.driver, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
         <p>Seat Capacity</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.seatCapacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.seatCapacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Latitude de depart</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.latStart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.latStart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Longitude de depart</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.lonStart, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lonStart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Latitude of arrival</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.latArrival, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.latArrival, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Longitude of Arrival</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.lonArrival, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lonArrival, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Rate</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.rate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.rate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Trajet</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Trajet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Trajet, "", new { @class = "text-danger" })
        </div>
    </div>
 

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class=" btn btn-outline-info" style="border-radius: 24px!important" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Buses")
</div>
