@model WE_MANAGE_ConsumeWebApi.Models.Message

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<br />
<h2>Delete</h2>

<style>
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
</style>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" id="myButton" class="btn btn-default">
            <i class="fa fa-trash"></i>
        </button>
        <a class="btn" href="/Message/Index">
            <i class="fa fa-backward"></i>
        </a>
    </div>
</div>
    }
</div>
